body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
h1 {
    margin-top: 250px;
    color: rgb(44, 0, 85);
    margin-bottom: none;
    margin-bottom: 10px;
}
#result {
    margin-top: 0;
    font-size: 35px;
    font-weight: 900;
    color: rgb(44, 0, 85);
    border: 2px solid rgb(44, 0, 85);
    padding: 20px;
    border-radius: 10px;
}